.title{
    border-radius: 5px;
    border: 1px solid #dbd9d9;
    max-width: 100px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    z-index: 1;

    box-shadow: 0px 2px 2px #dbd9d9;
}

.table_dashboard{
    border-radius: 5px;
    border: 1px solid #dbd9d9;
    max-width: 300px;
    margin: auto;
    padding: 40px 10px 10px 10px;
    position: relative;
    top: -25px;
    z-index: -1;
    
}
.table_profile{
    border-radius: 5px;
    border: 1px solid #dbd9d9;
    max-width: 300px;
    margin: auto;
    padding: 40px 10px 10px 10px;
    position: relative;
    top: -50px;
    z-index: -1;
    box-shadow: 0px 2px 2px #dbd9d9;
    
}
.container{
    max-width: 1800px;
    margin: auto;
}
td{
    width:400px;
}
th, tr{
    width: 100px;
    text-align: center;
}
.card{
    width: 25%;
}
.datos_p{
    width: 50%;
    text-align: left;
}
.img_title{
    max-width: 100px;
    margin: auto;
    margin-top: 20px;
    z-index: 1;
    
}
.img_usuario{
    max-width: 200px;
    margin: auto;
    position: relative;
    left:-50px;
    position: relative;
    top: 50px;  


}
.padT_30{
    padding-top: 30px;
}
.padT_40{
    padding-top: 40px;
}
.padT_50{
    padding-top: 50px;
}
.txt-right{
    text-align:right;
}
.txt-left{
    text-align:left;
}

