.busqueda-licitacion__titulo, .busqueda-licitacion__agregar{
  text-align: center;
  padding: 1rem;
}


.busqueda-licitacion__agregar button{
  background: #509D53;
  color: #fff;
  font-size: 4rem;
  padding: 2rem;
  border-radius: 5rem;
  height: 6rem;
}

.busqueda-licitacion__agregar button:hover{
  background: #234b24;
}

.busqueda-licitacion__formulario__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: left;

}

.busqueda-licitacion__formulario__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.busqueda-licitacion__formulario__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.busqueda-licitacion__formulario__control select {
  font: inherit;
  padding: 0.5rem 8em;
  border-radius: 6px;
}
.busqueda-licitacion__formulario__actions {
  text-align: right;
}

.busqueda-licitacion__formulario__actions button{
  background: #006078;
  font-size: 15px;
  color: snow;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 2mm;
}

.busqueda-licitacion__formulario__actions button:hover{
  background: #5b92a0;
}
