.NavigateItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigateItem a{
    color: #DDDCDC;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigateItem a:hover,
.NavigateItem a:active,
.NavigateItem a.active{
    color: #40a4c8;
}

@media(min-width: 500px){
    .NavigateItem{
        margin:0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigateItem a{
        color: #232323;
        text-decoration: none;
        height: 100%;
        padding: 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigateItem a:hover,
    .NavigateItem a:active,
    .NavigateItem a.active{
        background-color: #DDDCDC;
        border-bottom: 4px solid #40a4c8;
        color: #0d7aa5;
    }
}