body {
    margin: 0;
    background: whitesmoke;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  :root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #5e7dca;
    --nav-size: 80px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    height: var(--nav-size+40);
  
    padding: 0 2rem;
    border-bottom: var(--border);
    background-color: whitesmoke;
    font-family:  Roboto, sans-serif;
  }
  
  /* <ul> */
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .toolbarStyle {
      min-Height: 100px;
      background-color: whitesmoke;
      font-family:  Roboto, sans-serif;
    }
  
  
  .navlinks {
      
      margin-right:0px;
      display: flex;
      display: block; 
      margin: 1rem; 
      color: black; 
      border-bottom: 3px solid white;
      cursor: pointer;
      font-family: SANS-SERIF
  }
  
  .logo {
  max-Width: 250px;
  float:left;
  
  
  }
  /* <li> */
  .nav-item {

    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .link{
  
  }
  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  
  .nombre-button {
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .nombre-button:hover {
    filter: brightness(1.2);
    font-color:  green;
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  
  /* Dropdown Menu */
  
  .dropdown {
    position: absolute;
    top: 58px;
    width: 70px;
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  
  .menu {
    width: 60%;
    background-color: whitesmoke;
    font-family:  Roboto, sans-serif;
    border-color: coral;
  }
  
  .menu-item {
    max-height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 1 rem;
    color:green;
    background-color: whitesmoke;
    font-family:  Roboto, sans-serif;
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    width: 100px;
    color:  green;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
  
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  
  #container {
    text-align: justify;
  }
  #container > div {
    width: 100px; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
  
    /* IE fix. */
    *display: inline;
    zoom: 1;
  }
  #container:after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  .icon-menu{
    float: left;
    display: flex;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    text-align: left;
  }
  a.icon-menu:hover{
    color:#111fe6;
  }

  .navlinks-drawer{
    width: 200px;
    font-family: sans-serif;
    padding: 10px;
    font-size: 18px;
    color: black;
    box-shadow: none;
  }
  .navlinks-drawer > span{
    font-size: 18px;

  }
  .navlinks-drawer-sm{
    width: 200px;
    font-family: sans-serif;
    padding:  1px 10px;
    font-size: 15px;
    
  }
  .border-none{
    border-bottom: none;
}