.Header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
}

.Header nav{
    height: 100%;
}

.Header nav > div{
    background-color: #DDDCDC;
}


@media(max-width:499px){
    .DesktopOnly{
        display: none;
    }
}